$primary-color: #4BA949;
$secondary-color: #F6F6F6;
$border_radius: 12px;
$font_family: "Outfit", sans-serif;
$font_size: 16px;
$secondary_font_color: #676767;
$background_color: #F9F9F9;
$secondary_background_color: #FFFFFF;
$padding: 12px 24px 12px 24px;
$secondary_font_family: "Rubik", sans-serif;